#cnt-dcode{

    display: flex;
    justify-content: center !important;
}

@media only  screen and (max-width:807px)
{
#img-dcode{
    width: 350px;
}
}

@media only  screen and (max-width:769px)
{
    #img-dcode{
        width: 250px;
    }
#pr{
    padding-left:20%;
}
}


@media only screen and (max-width:585px){
    
    #pr{
        padding-left:12%;
    }
    #pr{
        padding-left:12%;
    }
    
}
@media only screen and (max-width:475px){
    
    
    #pr{
        padding-left:4%;
    }
    
}

@media screen and (max-width:769px) and (min-width:768px){
    
    
    #pr{
        padding-left:2%;
    }
    
    
}


@media only screen and (max-width:350px){
    
    
    .mb-6 {
        margin-bottom: 0.5rem !important;
    }
   #img-dcode{
       width: 200px;
   }
}



.main--cont{
  
  text-align: center;
}
#devtm{
    color: white;
    font-size: larger;
    font-weight: bolder;
}