@tailwind base;
@tailwind components;
@tailwind utilities;

html
{
    /* background-color: #111827; */
    background-color: #111827;
    /* background-color: antiquewhite; */
    /* font-size: 0.95em; */
}
body {
    overflow-x: hidden;
}
#search-form, .form-control {
    margin-bottom: 20px;
}
.cover {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-size: cover;
}
.cover:hover {
    cursor: pointer;
}
.cover.playing {
    border: 5px solid #e45343;
}

