 
  .title {
    font-size: 30px;
    color: #ffffff;
    width: 0;
    height: 40px;
    overflow: hidden;
    white-space: no-wrap;
    display:block;
    border-right: 2px solid #ffffff;
    animation: typewriter 7s steps(7) infinite, blinking-cursor 0.8s infinite;
    animation-fill-mode: forwards
  }
  
  @keyframes typewriter {
    0% { width:0 }
    25% { width: 70% }
    48% { width: 100% }
    50% { width: 100% }
    55% { width: 100% }
    75% { width: 70%; }
    85% { width: 30%; }
    100% { width: 0; }
  }
  
  @keyframes blinking-cursor {
    from { border-color: transparent }
    to { border-color: #ffffff7c }
  }