{% extends "layout.html" %}
{% block content %}
<!-- <h1>About Page</h1> -->
<section class="pt-28 pb-10 text-gray-400 body-font bg-gray-900" style="user-select: auto;">
    
<div class="main--cont">
    <h1 id="devtm">&#10096; &#10096; Developer Team  &#10097;  &#10097;</h1> 

</div>
    <div class="container px-5 py-5 mx-auto" style="user-select: auto;">

        <div id="cnt-dcode">
            <div>
                <img id="img-dcode" src="../static/imgs.png" alt="">
            </div>
        </div>

    </div>
    <div id="pr">
        <div class="py-5 flex flex-wrap" style="user-select: auto;" >
            <div class="xl:w-1/4 md:w-1/2 p-4 mx-auto" style="user-select: auto;" data-aos="flip-left"
            data-aos-offset="100"
            data-aos-delay="0"
            data-aos-duration="1500">
                <div class="bg-gray-800 bg-opacity-40 p-6 rounded-circle" style="user-select: auto;">
                    <a href="https://github.com/ananya-bangera" target="_blank">
                        <img class="h-40 rounded-full w-1/2 mx-auto object-cover object-center mb-6"
                            src="https://dummyimage.com/720x400" alt="content" style="user-select: auto;">
                        <h2 class="text-lg text-white font-medium title-font mb-4"
                            style="user-select: auto; text-align: center;">Ananya Bangera</h2>
                        <p class="leading-relaxed text-base" style="user-select: auto; text-align: center">SY-Btech
                            CS,VJTI
                        </p>
                    </a>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4 mx-auto" style="user-select: auto;" data-aos="flip-left"
            data-aos-offset="100"
            data-aos-delay="0"
            data-aos-duration="1500">
                <div class="bg-gray-800 bg-opacity-40 p-6 rounded-circle" style="user-select: auto;">
                    <a href="https://github.com/AKASH-0112" target="_blank">
                        <img class="h-40 rounded-full w-1/2 mx-auto object-cover object-center mb-6"
                            src="https://dummyimage.com/720x400" alt="content" style="user-select: auto;">
                        <h2 class="text-lg text-white font-medium title-font mb-4"
                            style="user-select: auto; text-align: center;">Akash Sable</h2>
                        <p class="leading-relaxed text-base" style="user-select: auto; text-align: center;">SY-Btech
                            IT,VJTI
                        </p>
                    </a>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4 mx-auto" style="user-select: auto;" data-aos="flip-right"
            data-aos-offset="100"
            data-aos-delay="0"
            data-aos-duration="1500">
                <div class="bg-gray-800 bg-opacity-40 p-6 rounded-circle" style="user-select: auto;">
                    <a href="https://github.com/pratham-404" target="_blank">
                        <img class="h-40 rounded-full w-1/2 mx-auto object-cover object-center mb-6"
                            src="https://dummyimage.com/720x400" alt="content" style="user-select: auto;">
                        <h2 class="text-lg text-white font-medium title-font mb-4"
                            style="user-select: auto; text-align: center;">Pratham Loya</h2>
                        <p class="leading-relaxed text-base" style="user-select: auto; text-align: center;">SY-Btech
                            IT,VJTI
                        </p>
                    </a>
                </div>
            </div>
            <div class="xl:w-1/4 md:w-1/2 p-4 mx-auto" style="user-select: auto;" data-aos="flip-right"
            data-aos-offset="100"
            data-aos-delay="0"
            data-aos-duration="1500">
                <div class="bg-gray-800 bg-opacity-40 p-6 rounded-circle" style="user-select: auto;">
                    <a href="https://github.com/Pramod4636" target="_blank">
                        <img class="h-40 rounded-full w-1/2 mx-auto object-cover object-center mb-6"
                            src="https://dummyimage.com/720x400" alt="content" style="user-select: auto;">
                        <h2 class="text-lg text-white font-medium title-font mb-4"
                            style="user-select: auto; text-align: center;">Pramod Dhaygude</h2>
                        <p class="leading-relaxed text-base" style="user-select: auto; text-align: center;">SY-Btech
                            IT,VJTI
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>


{% endblock content %}