{% extends "layout.html" %}
{% block content %}
    <section class="pt-3 pb-10 text-gray-400 bg-gray-900 body-font">
        <div class="container px-0 mx-auto">
            <div class="flex flex-col text-center w-full mb-6">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-white text-xs">Feedback</h1>
                <p class="lg:w-2/3 mx-auto leading-relaxed text-base text-xs">Your feedback help us to improve.</p>
            </div>
            <div class="flex lg:w-2/3 w-full sm:flex-row flex-col mx-auto px-8 sm:px-0 items-end sm:space-x-4 sm:space-y-0">
                <div class="relative sm:mb-0 flex-grow w-full">
                    <!-- <label for="full-name" class="leading-7 text-sm text-gray-400 pl-2">Full Name</label> -->
                    <input type="text" id="full-name" name="full-name" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-0 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="Full Name"/>
                </div>
                <div class="relative sm:mb-0 flex-grow w-full">
                    <!-- <label for="email" class="leading-7 text-sm text-gray-400 pl-2">Email</label> -->
                    <input type="email" id="email" name="email" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent text-base outline-none text-gray-100 py-0 px-3 leading-8 transition-colors duration-200 ease-in-out" placeholder="Email" />
                </div>
            </div> 
        </div>
        <div class="mb-6 mt-12" style="height:80px; border: 1px solid white"></div>
        <div class="container px-5 mx-auto">
            <div class="flex-grow md:flex-grow-0 text-center pb-6">
                <h1>Please let us know about your experience.</h1>
            </div>
            <div class="w-1/2 mx-auto " style="user-select: auto">
            <div class="relative" style="user-select: auto">
                <!-- <label for="message" class="leading-7 text-sm text-gray-400" style="user-select: auto">Message</label> -->
                <textarea id="message" name="message" class="w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 h-32 text-base outline-none text-gray-100 py-0 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out" style="user-select: auto" placeholder="Message"></textarea>
            </div>
            </div>
        </div>
        <div class="px-5 py-10 text-center">
            <button class="text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">Submit</button>
        </div>
    </section>
{% endblock content %}


