{% extends "layout.html" %}
{% block content %}
<!-- Searchbar-Start -->
<div id="body">
    <section class=" ml-15 text-gray-400 bg-gray-900 body-font" style="user-select: auto;">
        <div class="container mx-auto flex py-16 px-5 md:flex-row flex-col items-center" style="user-select: auto;">
            <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6 mb-10 md:mb-0" style="user-select: auto;" id="apiimg">
                <img class="object-cover object-center rounded-3xl" alt="hero"
                    src="https://source.unsplash.com/720x600/?music,music,instruments,musicplayer" style="user-select: auto;">
            </div>
            <!-- src="https://dummyimage.com/720x600" style="user-select: auto;"> -->
            <div class="lg:flex-grow md:w-1/2 lg:pl-24 md:pl-16 flex flex-col md:items-start md:text-left items-center text-center"
                style="user-select: auto;">
                <span class="title-holder">
                    <span class="title">
                        <h1>Music_Mania. </h1>
                    </span>
                </span>
                <p class="mb-8 leading-relaxed" style="user-select: auto; margin-top: 15px; color: rgba(255, 255, 255, 0.712);">
                    Let music flow in your heart and enrich your soul. Let the Music Speak!
                    <br> Life is a song, love is the music.
                </p>
                <div class="flex w-full md:justify-start justify-center items-end" style="user-select: auto;">
                    <div class="relative mr-4 lg:w-full xl:w-1/2 w-2/4" style="user-select: auto;">
                        <!-- <label for="hero-field" class="leading-7 text-sm text-gray-400" style="user-select: auto;">Placeholder</label> -->
                        <input type="text" id="hero-field" name="hero-field"
                            class="w-full bg-gray-800 rounded border bg-opacity-40 border-gray-700 focus:ring-2 focus:ring-indigo-900 focus:bg-transparent focus:border-indigo-500 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out"
                            placeholder="Search" style="user-select: auto;">
                    </div>
                    <button
                        class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg"
                        style="user-select: auto;">Search</button>
                </div>
                <!-- <p class="text-sm mt-2 text-gray-500 mb-8 w-full" style="user-select: auto;">Neutra shabby chic ramps, viral fixie.</p> -->
            </div>
        </div>
    </section>
</div>
<!-- Searchbar-End -->

<div style="height:7rem;"></div>

<!-- Hit List - Start -->
<div>
    <section class="text-gray-400 bg-gray-900 body-font" style="user-select: auto">
        <div class="container px-5 py-12 mx-auto" style="user-select: auto">
            <!-- heading  -->
            <div class="flex flex-col text-center w-full mb-7" style="user-select: auto">
                <h1 class="text-2xl font-medium title-font text-white" style="user-select: auto">
                    Top Charts
                </h1>
            </div>
            <!-- heading -->

            <!-- row-1 start -->
            <div class="py-1 flex flex-wrap text-center" style="user-select: auto">
                <div class="lg:w-1/6 md:w-1/3 p-4 w-full" style="user-select: auto" data-aos="fade-right" data-aos-offset="300"   data-aos-delay="0"   data-aos-duration="3000">
                    <a class="block relative h-48 rounded overflow-hidden" style="user-select: auto">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full blo rounded-3xl"
                            src="https://dummyimage.com/420x260" style="user-select: auto" />
                    </a>
                    <div class="mt-1" style="user-select: auto">
                        <h2 class="text-white title-font text-lg font-medium" style="user-select: auto">
                            Song 1
                        </h2>
                        <p class="mt-0" style="user-select: auto">Artist 1</p>
                    </div>
                </div>
                <div class="lg:w-1/6 md:w-1/3 p-4 w-full" style="user-select: auto" data-aos="fade-right" data-aos-offset="300"   data-aos-delay="0"   data-aos-duration="3000">
                    <a class="block relative h-48 rounded overflow-hidden" style="user-select: auto">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full rounded-3xl"
                            src="https://dummyimage.com/421x261" style="user-select: auto" />
                    </a>
                    <div class="mt-1" style="user-select: auto">
                        <h2 class="text-white title-font text-lg font-medium" style="user-select: auto">
                            Song 2
                        </h2>
                        <p class="mt-0" style="user-select: auto">Artist 2</p>
                    </div>
                </div>
                <div class="lg:w-1/6 md:w-1/3 p-4 w-full" style="user-select: auto" data-aos="fade-right" data-aos-offset="300"   data-aos-delay="0"   data-aos-duration="3000">
                    <a class="block relative h-48 rounded overflow-hidden" style="user-select: auto">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full blo rounded-3xl"
                            src="https://dummyimage.com/422x262" style="user-select: auto" />
                    </a>
                    <div class="mt-1" style="user-select: auto">
                        <h2 class="text-white title-font text-lg font-medium" style="user-select: auto">
                            Song 3
                        </h2>
                        <p class="mt-0" style="user-select: auto">Artist 3</p>
                    </div>
                </div>
                <div class="lg:w-1/6 md:w-1/3 p-4 w-full" style="user-select: auto" data-aos="fade-left" data-aos-offset="300"   data-aos-delay="0"   data-aos-duration="3000">
                    <a class="block relative h-48 rounded overflow-hidden" style="user-select: auto">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full blo rounded-3xl"
                            src="https://dummyimage.com/423x263" style="user-select: auto" />
                    </a>
                    <div class="mt-1" style="user-select: auto">
                        <h2 class="text-white title-font text-lg font-medium" style="user-select: auto">
                            Song 4
                        </h2>
                        <p class="mt-0" style="user-select: auto">Artist 4</p>
                    </div>
                </div>
                <div class="lg:w-1/6 md:w-1/3 p-4 w-full" style="user-select: auto" data-aos="fade-left" data-aos-offset="300"   data-aos-delay="0"   data-aos-duration="3000">
                    <a class="block relative h-48 rounded overflow-hidden" style="user-select: auto">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block rounded-3xl"
                            src="https://dummyimage.com/420x260" style="user-select: auto" />
                    </a>
                    <div class="mt-1" style="user-select: auto">
                        <h2 class="text-white title-font text-lg font-medium" style="user-select: auto">
                            Song 5
                        </h2>
                        <p class="mt-0" style="user-select: auto">Artist 5</p>
                    </div>
                </div>
                <div class="lg:w-1/6 md:w-1/3 p-4 w-full" style="user-select: auto" data-aos="fade-left" data-aos-offset="300"   data-aos-delay="0"   data-aos-duration="3000">
                    <a class="block relative h-48 rounded overflow-hidden" style="user-select: auto">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block rounded-3xl"
                            src="https://dummyimage.com/421x261" style="user-select: auto" />
                    </a>
                    <div class="mt-1" style="user-select: auto">
                        <h2 class="text-white title-font text-lg font-medium" style="user-select: auto">
                            Song 6
                        </h2>
                        <p class="mt-0" style="user-select: auto">Artist 6</p>
                    </div>
                </div>
            </div>
            <!-- row-1 end -->

            <!-- row-2 start -->
            <div class="py-1 flex flex-wrap text-center" style="user-select: auto">
                <div class="lg:w-1/6 md:w-1/3 p-4 w-full" style="user-select: auto" data-aos="fade-right" data-aos-offset="200"   data-aos-delay="0"   data-aos-duration="3000">
                    <a class="block relative h-48 rounded overflow-hidden" style="user-select: auto">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full blo rounded-3xl"
                            src="https://dummyimage.com/420x260" style="user-select: auto" />
                    </a>
                    <div class="mt-1" style="user-select: auto">
                        <h2 class="text-white title-font text-lg font-medium" style="user-select: auto">
                            Song 7
                        </h2>
                        <p class="mt-0" style="user-select: auto">Artist 7</p>
                    </div>
                </div>
                <div class="lg:w-1/6 md:w-1/3 p-4 w-full" style="user-select: auto" data-aos="fade-right" data-aos-offset="200"   data-aos-delay="0"   data-aos-duration="3000">
                    <a class="block relative h-48 rounded overflow-hidden" style="user-select: auto">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full blo rounded-3xl"
                            src="https://dummyimage.com/421x261" style="user-select: auto" />
                    </a>
                    <div class="mt-1" style="user-select: auto">
                        <h2 class="text-white title-font text-lg font-medium" style="user-select: auto">
                            Song 8
                        </h2>
                        <p class="mt-0" style="user-select: auto">Artist 8</p>
                    </div>
                </div>
                <div class="lg:w-1/6 md:w-1/3 p-4 w-full" style="user-select: auto" data-aos="fade-right" data-aos-offset="200"   data-aos-delay="0"   data-aos-duration="3000">
                    <a class="block relative h-48 rounded overflow-hidden" style="user-select: auto">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full blo rounded-3xl"
                            src="https://dummyimage.com/422x262" style="user-select: auto" />
                    </a>
                    <div class="mt-1" style="user-select: auto">
                        <h2 class="text-white title-font text-lg font-medium" style="user-select: auto">
                            Song 9
                        </h2>
                        <p class="mt-0" style="user-select: auto">Artist 9</p>
                    </div>
                </div>
                <div class="lg:w-1/6 md:w-1/3 p-4 w-full" style="user-select: auto" data-aos="fade-left" data-aos-offset="200"   data-aos-delay="0"   data-aos-duration="3000">
                    <a class="block relative h-48 rounded overflow-hidden" style="user-select: auto">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full blo rounded-3xl"
                            src="https://dummyimage.com/423x263" style="user-select: auto" />
                    </a>
                    <div class="mt-1" style="user-select: auto">
                        <h2 class="text-white title-font text-lg font-medium" style="user-select: auto">
                            Song 10
                        </h2>
                        <p class="mt-0" style="user-select: auto">Artist 10</p>
                    </div>
                </div>
                <div class="lg:w-1/6 md:w-1/3 p-4 w-full" style="user-select: auto" data-aos="fade-left" data-aos-offset="200"   data-aos-delay="0"   data-aos-duration="3000">
                    <a class="block relative h-48 rounded overflow-hidden" style="user-select: auto">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block rounded-3xl"
                            src="https://dummyimage.com/420x260" style="user-select: auto" />
                    </a>
                    <div class="mt-1" style="user-select: auto">
                        <h2 class="text-white title-font text-lg font-medium" style="user-select: auto">
                            Song 11
                        </h2>
                        <p class="mt-0" style="user-select: auto">Artist 11</p>
                    </div>
                </div>
                <div class="lg:w-1/6 md:w-1/3 p-4 w-full" style="user-select: auto" data-aos="fade-left" data-aos-offset="200"   data-aos-delay="0"   data-aos-duration="3000">
                    <a class="block relative h-48 rounded overflow-hidden" style="user-select: auto">
                        <img alt="ecommerce" class="object-cover object-center w-full h-full block rounded-3xl"
                            src="https://dummyimage.com/421x261" style="user-select: auto" />
                    </a>
                    <div class="mt-1" style="user-select: auto">
                        <h2 class="text-white title-font text-lg font-medium" style="user-select: auto">
                            Song 12
                        </h2>
                        <p class="mt-0" style="user-select: auto">Artist 12</p>
                    </div>
                </div>
            </div>
            <!-- row-2 end -->
        </div>
    </section>
</div>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<!-- Hit List - End -->
{% endblock content %}