{% extends "layout.html" %}
{% block content %}
    <section class="text-gray-400 bg-gray-900 body-font relative" style="user-select: auto;">
        <div class="container px-5 py-5 mx-auto justify-center" style="user-select: auto;">
            <div class="content-section items-center">
                <form method="POST" action="" class=" px-10 py-10 flex flex-wrap -m-2 grid place-items-center">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group flex flex-wrap -m-2"><!-- w-full -->
                        <legend class="text-center sm:text-3xl text-2xl font-medium title-font mb-4 text-white">Join Today</legend>
                        <!-- <div class="items-center"> -->
                        <div class="form-group inline-block p-3 w-1/2">
                            <!-- {{ form.username.label(class="form-control-label") }} -->

                            {% if form.username.errors %}
                                {{ form.username(placeholder=" Username", class="form-control form-control-lg is-invalid px-5 w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out") }}
                                <div class="invalid-feedback">
                                    {% for error in form.username.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.username(placeholder=" Username", class="form-control form-control-lg px-5 w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out") }}
                            {% endif %}
                        </div>
                        <!-- <div class="inline-block w-6"></div> -->
                        <div class="form-group inline-block p-3 w-1/2">
                            <!-- {{ form.email.label(class="form-control-label") }} -->
                            {% if form.email.errors %}
                                {{ form.email(placeholder=" Email",class="form-control form-control-lg is-invalid w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out") }}
                                <div class="invalid-feedback">
                                    {% for error in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(placeholder=" Email",class="form-control form-control-lg w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out") }}
                            {% endif %}
                        </div>
                        <!-- </div> -->
                        <div class="form-group p-3 w-3/4 mx-auto">
                            <!-- {{ form.password.label(class="form-control-label") }} -->
                            {% if form.password.errors %}
                                {{ form.password(placeholder=" Password",class="form-control form-control-lg is-invalid w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out") }}
                                <div class="invalid-feedback">
                                    {% for error in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(placeholder=" Password",class="form-control form-control-lg w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out") }}
                            {% endif %}
                        </div>
                        <div class="form-group p-3 w-3/4 mx-auto">
                            <!-- {{ form.confirm_password.label(class="form-control-label") }} -->
                            {% if form.confirm_password.errors %}
                                {{ form.confirm_password(placeholder=" Confirm Password",class="form-control form-control-lg is-invalid w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out") }}
                                <div class="invalid-feedback">
                                    {% for error in form.confirm_password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.confirm_password(placeholder=" Confirm Password",class="form-control form-control-lg w-full bg-gray-800 bg-opacity-40 rounded border border-gray-700 focus:border-indigo-500 focus:bg-gray-900 focus:ring-2 focus:ring-indigo-900 text-base outline-none text-gray-100 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg") }}
                    </div>
                </form>
                
            </div>
            <!-- <div class="inline-block fixed right-0">
                hii
            </div> -->
            <div class="border-top pt-3">
                <small class="text-muted">
                    Already Have An Account? <a class="ml-2" href="{{ url_for('users.login') }}">Sign In</a>
                </small>
            </div>

        </div>
        
    </section>

{% endblock content %}