{% extends "layout.html" %}
{% block content %}
    <div id="tracker"></div>
    <div class="track-control">
        <label class="switch">
        <input type="checkbox" onchange="toggle()"/>
        <span class="slider round"></span>
        </label>
    </div>
    <div class="log-control">
        <a class="" onclick="openNav()"><i class="fa fa-wrench log"></i></a>
    </div>
    <div class="meter-control">
        <div class="meter-look glow">
        <span><i class="fa fa-road"></i></span>
        <span id="distance-box">0.000</span>
        <span>km</span>
        </div>
    </div>
    <div id="myNav" class="overlay">
        <div class="sticky">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
            >&times;</a>
        </div>
        <div class="overlay-content">
        <div id="log-console"></div>
        </div>
    </div>
{% endblock content %}

